section{
  width: 480px;
  height: 767px;
  border: 2px black solid;
  margin: auto;
}

div .a {
  border: 2px black solid;
  width: 480px;
  height: 75px;
}

@media only screen and (min-width:768px){
  section{
    width: 960px;
    margin: auto; 
    border: 2px black solid;
}



