body{
  width: 480px;
  }

header {
width: 480px;
height: 75px;
text-align: center;
line-height: 75px;
background-color: cadetblue;
}

div :nth-of-type(1) {
  border: 2px black solid;
  width: 480px;
  height: 150px;
  text-align: center;
  background-color: cyan;
}
div :nth-of-type(2) 
  div :nth-of-type(3) {
  border: 2px black solid;
  width: 480px;
  height: 125px;
  text-align: center;
  background-color: darkkhaki;
}
div :nth-of-type(3) {
background-color: bisque;
}

div :nth-of-type(4)div :nth-of-type(5)div :nth-of-type(6)div :nth-of-type(7) {
  border: 2px black solid;
  width: 240px;
  height: 250px;
  text-align: center;
  float: left;
  background-color: darkturquoise;
}
div :nth-of-type(5){
  background-color: floralwhite;
}
div :nth-of-type(6) {
  background-color: greenyellow;
}
div :nth-of-type(7) {
  background-color: hotpink;
}

footer {
  border: 2px black solid;
  width: 480px;
  height: 80px;
  text-align: center;
  background-color: lavender;
}

@media only screen and (min-width:768px){
  body{
    width: 960px;
    }

header {
  height: 100px;
  width: 960px;
  text-align: center;
}



